<!doctype html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>검색</title>
	<h1>검색하시오</h1>
</head>
<body id="body">

<input id="searchBar" type="text" size=20> 
<button id="searchButton" type="button">검색</button>
<button id="addButton" type=>추가</button>

<div id ='wrap'></div>

<script type="text/template" id="listTemplate">
<ul>
  <% for(var i=0; i<list.length; i++) { %>
		<li>	
			<p><a href = " <%= list[i].link %>"><%= list[i].title %></a>      <%= list[i].pubDate %></p>
		</li>
		
  <%} %>
</ul>
</script>
<script src="search.js"></script>
<script src="util.js"></script>
</body>
</html>
